#link-adm-area{
    float: left;
  }
  
  #link-adm-area img{
      max-height: 30px;
      width: auto;
      height: auto;
  }
  
  .adm-table-img{
    max-height: 200px;
    width: auto;
    height: auto;
  }
  
  .td-button{
    vertical-align: middle !important;
  }
  
  .td-button button{
    float: left;
    vertical-align: middle;
  }

  #list img {
    max-width: 300px;
  }
  
  #deleteImgs {
    display: none;
  }

  input[type="file"] {
    display: none;
}